

/* this is for headings font-family: 'Poppins', sans-serif; */
/* this is for body font-family: 'Open Sans', sans-serif; */


/* 
Universal Reset
CSSresetr
*/
* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
	}

body {
    height: 99vh;
    margin: 0px auto;
    background-image: url(bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.header {
   padding-top: 35px;
} 

.header img {
    height: 40px;
}

.main img {
    max-width: 100vh;
}
    
.wrapper {
    max-width: 100%;
	margin: 0px auto;
    width: 1000px;
}

.main {
display: flex;
margin: 100px 0;
}

.main > div:first-child {
    flex: 0.6;
    margin-right: 20px;
    margin-bottom: -500px;
}

.main > div:last-child {
    flex: 1;
    
} 

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 400;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    opacity: 0.8;
    padding-top: 20px;
}

button {
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0 5px 10px  rgba(44, 44, 44, 0.589);
    border: none;
    background-color: white;
    padding:15px 60px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: hsl(257, 40%, 49%);
    font-size: 16px;
}
.social-links {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;
}
.social-links a {
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    text-decoration: none;
}

button:hover {
    background-color: hsl(300, 69%, 71%);
}

a:hover {
    background-color: hsl(300, 69%, 71%);
}

@media screen and (max-width: 768px) {
    body {
        background-image: url(bg-mobile.svg);
        background-size: cover;
        padding: 2rem;
        overflow-x: hidden;
        overflow-y: auto;
        align-items: flex-start;
    }
    .wrapper {
        flex-direction: column;
    }

    .main {
        display: flex;
    }

    .main img {
        max-width: 100%;
    }

    .image-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 4.75rem;
        width: 50%;
        height: 50%;
      }
      
    .text-box {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 1rem;
        padding: 0 1rem;
        width: 50%;
    }
    button {
        padding: 1rem 5rem;
        margin-top: 2rem;
      }
 
    .social-area {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}